@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  next-route-announcer,
  nextjs-portal {
    display: none;
  }

  body {
    @apply flex flex-col justify-between h-screen bg-background font-medium bg-custom-gradient;
  }

  .cabecalho {
    nav {
      @apply w-full h-[10vh];

      ul {
        @apply flex w-full h-full justify-around items-center;
      }

      & a {
        @apply text-xl;
        @apply hover:text-2xl hover:t-color;
        @apply transition-all duration-200 ease-in-out;
      }
    }
  }

  .button {
    @apply transition-all duration-200 ease-in-out;
    @apply hover:shadow-lg hover:w-[320px] hover:h-20 hover:text-2xl;
  }

  .cards-mvv {
    @apply w-1/4 flex flex-col items-center justify-around text-center rounded-lg shadow-lg bg-[#213238] h-[450px];
    @apply transition-all duration-200 ease-in-out;
    @apply hover:shadow-2xl hover:w-1/3 hover:bg-[#223f2e];

    & h3 {
      @apply text-2xl;
    }

    & p {
      @apply w-10/12;
    }
  }

  .button-empresa {
    @apply w-[200px] h-[60px] shadow-lg bg-[#315741] rounded-md;
    @apply transition-all duration-200 ease-in-out;
    @apply hover:shadow-2xl hover:bg-[#345e45];
  }

  .input-empresa {
    @apply w-1/2 bg-slate-50 border-none h-10 rounded-md text-black outline-none pl-2;
  }

  .cards-empresas {
    @apply w-1/4 flex flex-col items-center justify-around text-center rounded-lg shadow-lg bg-[#213238];
    @apply transition-all duration-200 ease-in-out;
    @apply hover:shadow-2xl hover:bg-[#223f2e];

    & p {
      @apply w-10/12;
    }
  }

  .cards-integrantes {
    @apply flex flex-col items-center justify-around text-center rounded-lg shadow-lg bg-[#223f2e] h-[550px] w-[500px];
    @apply transition-all duration-200 ease-in-out;
    @apply hover:shadow-2xl hover:w-1/3 hover:bg-[#223f2e];

    & .img-perfil {
      @apply shadow-2xl rounded-lg;
    }
  }

  .t-color {
    color: #346732;
  }

  .bg-custom-gradient {
    background: rgb(34, 193, 195);
    background: radial-gradient(
      circle,
      rgba(0, 63, 37, 1) 0%,
      rgba(21, 32, 38, 1) 100%
    );
  }
  .title {
    background: linear-gradient(to left, #346732, #6cc7e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button {
    background: linear-gradient(to right, #346732, #346732);
  }

  .t-color2 {
    color: #cdcdcd;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem horizontal */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: none; /* Cor do fundo da barra de rolagem */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cdcdcd; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #999; /* Cor da barra de rolagem ao passar o mouse */
  }
}
